<h1>User info</h1>
    
      <%= image_tag user.get_profile_image(100,100) %></br>
      
      <strong> name </strong>  <%= user.name %></br>
      
      <strong>introduction </strong> <%= user.introduction %>
      
        <h1>New book</h1>
          <%= form_with model: book do |f| %>
        <p>Title</p>
          <%= f.text_field :title %>
      
   　    <p>Option</p>
          <%= f.text_area :body %><br>
          <%= f.submit 'Create Book' %>
        
     <% end %>
    
    